$green: #25C16F;
$dark-green: #478F3D;
$blue: #0287F9;
$magenta: #CC4783;
$purple: #8847CC;
$grey: #4b4b4b;
$dark-grey: #6A6A6A;
$orange: #F88822;
$bg: #EAECF0;
$light-pink: #FFFAF6;
$red: #D82813;
$yellow: #F8C51C;
$black: #000000;
$white: #ffffff;
$light-green: #25D366;
$light-blue: #EBF6FF;
$border-color: #E3EBF2;