.journals {
  .font-14 {
    font-size: 0.87rem !important;
  }

  .main-content {
    .container {
      padding: 2rem 1rem 1rem;
    }
  }

  .check {
    position: relative !important;
  }

  .book-description {
    #spy {
      @include mobile {
        margin-bottom: 1.5rem;
      }
    }
  }

  .card-image {
    img {
      background: white;
      height: 25rem !important;
    }
  }

  .suggested-books {
    background: #EAECF0;

    .container {
      padding: 2rem 1rem;

      .discount {
        color: $orange;
      }

      .view-link {
        white-space: nowrap;
      }

      .card {
        background: transparent;
      }
    }
  }

  .recommended {
    &::before {
      content: none;
    }

    .container {
      padding: 2rem 1rem;
    }

    .card {
      @include mobile {
        width: 90% !important;
        margin-bottom: 2rem !important;
      }
    }
  }

  .book-content {
    max-width: 100% !important;
    width: 100% !important;

    .chapter-cta,
    .content-cta {
      max-width: inherit !important;
      width: auto !important;
      padding: 0 0.5rem;
    }
  }
}